* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    outline: aut;
}

@media screen and (min-width:320px){


/* Header */

.header-menu {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.header-logo {
    display: flex;
    margin: 4px 36px 4px 36px;
    justify-content: center;
    align-items: center;
}

.header-nav-bar {
    width: 100%;
    padding: 10px 0;
    display: flex;
    align-items: center;
}

.header-nav-bar ul {
    display: flex;
    align-items: center;
}

.header-nav-bar li {
    display: flex;
    padding: 4px 8px;
    font-size: 14px;
    color: #717171;
    font-weight: 400;
}

.header-nav-bar li:hover {
    color: red;
}

.search-bar-menu {
    display: flex;
    align-items: center;
    min-width: fit-content;
    width: 600px;
    background-color: #f7f7f7;
    border-radius: 12px;
    margin: 0 80px;
}

.search-bar-icon {
    padding: 10px;
}



.search-input-field {
    background-color: #f7f7f7;
    border: none;
}

.address-menu {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0 20px;
    min-width: fit-content;
    color: #717171;
    font-size: 14px;
    font-weight: 600;

}

.address-dropdown {
    margin: 0 8px;
    display: flex;
    align-items: center;
}

.account-icon {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.cart-menu {
    min-width: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 60px;
}


.cart-icon {
    color: #717171;
    font-size: 12px;
    margin-right: 16px;
    padding-left: 8px;
    display: flex;
    justify-content: flex-end;

}

.cart-info {
    color: #717171;
    font-size: 12px;
    display: flex;
}

.promotion-menu {
    display: flex;
    padding: 10px 0;
    align-items: center;
    justify-content: center;
    background-color: #50a773;
    color: white;
    font-size: 16px;
    font-weight: 600;
}

.promotion-icon {
    margin: 0 8px;
    padding-right: 20px;
    display: flex;
    align-items: center;
}

.promotion-dropdown {
    margin: 0 8px;
    padding-left: 40px;
    display: flex;
    align-items: center;
}

/* Header */


/* Body */

.menu-filter {
    display: flex;
    margin: 20px auto;
    max-width: 70%;
    justify-content: space-around;
    overflow:hidden;
}


.menu-filter-list ul {
    display: flex;
}

.menu-filter-list li {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: fit-content;
    margin: 0 4px;
    padding: 12px 24px;
    font-size: 12px;
    color: #717171;
    font-weight: 600;
    border-style: solid;
    border-radius: 20px;
    border-width: 1px;
    border-color: #f5f4f4;
}

.menu-filter-list li:hover {
    background-color: #ececec;
    transition: background-color 300ms linear;
}



.options-menu {
    width: 70%;
    margin: 40px auto;
}

.options-menu-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.options-menu-list div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px 10px;
    border: none;
}

.options-menu-list p {
    margin: 10px;
    font-size: 14px;
}

.options-menu-list a {
    text-decoration: none;
    color: #717171;
}

.options-menu-list div:hover {
    transform: scale(1.1);
}





.promo-slider-pics {
    margin: auto;
}

.promo-slider-divs {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.promo-slider-divs div {
    margin: 20px;
}

.promo-slider-divs img {
    border-radius: 12px;
    display: flex;
    align-items: center;
}









.app-menus {
    margin: 40px auto;
    width: 70%;
    min-width: fit-content;
}


.app-menus-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px
}

.app-menus a:hover {
    transform: scale(1.05);
    border-color: #c4bebe;
    transition: 300ms;
}


.app-menu-caption {
    font-size: 20px;
    font-weight: 400;
}

.see-more {
    color: #ea1d2c;
    font-size: 14px;
    text-decoration: none;
}

.past-orders {
    display: flex;
    justify-content: flex-start;
}

.past-orders a {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 240px;
    height: 120px;
    margin: 10px;
    border-style: solid;
    border-width: 0.5px;
    border-color: #f0f0f0;
    border-radius: 12px;
    text-decoration: none;
    color: #717171;
    font-weight: 400;
}





.markets-menu {
    margin: 40px auto;
    min-width: 70%;
}


.markets-next {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.markets-next a {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 280px;
    height: 120px;
    margin: 10px;
    border-style: solid;
    border-width: 0.5px;
    border-color: #f0f0f0;
    border-radius: 12px;
    text-decoration: none;
    color: #717171;
    font-weight: 400;
}


.cheap-menu {
    margin: 40px auto;
    min-width: 70%;

}

.cheap-good {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.cheap-good a {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    min-width: fit-content;
    height: 160px;
    margin: 10px;
    padding: 10px;
    border-style: solid;
    border-width: 0.5px;
    border-color: #f0f0f0;
    border-radius: 12px;
    text-decoration: none;
    color: #717171;
    font-weight: 400;
}

.cheap-good p {
    margin: 10px;
}

.most-ordered {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}


.most-ordered a {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    min-width: fit-content;
    width: 240px;
    height: 120px;
    margin: 10px;
    padding: 10px;
    border-style: solid;
    border-width: 0.5px;
    border-color: #f0f0f0;
    border-radius: 12px;
    text-decoration: none;
    color: #717171;
    font-weight: 400;
}

.gourmet-banner a{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px auto;
    width: fit-content;
}

.gourmet-banner img {
    border-radius: 12px;
}


.categories-menu-selection {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.categories-menu-selection div {
    margin: 0 4px;
}

.categories-menu-selection a {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: fit-content;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-style: solid;
    border-width: 0.5px;
    border-color: #f0f0f0;
    border-radius: 12px;
    text-decoration: none;
    color: #717171;
    font-size: 12px;
}

.categories-menu-selection a:hover {
    transform: scale(1.1);
}


.stores-grid-menu {
    margin: 40px auto;
    width: 70%;
    min-width: fit-content;
}

.stores-grid {
    margin-top:40px;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.stores-grid a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding:20px;
    text-decoration: none;
    border-style: solid;
    border-width: 0.5px;
    border-color: #f0f0f0;
    border-radius: 12px;
    color: #717171;
    height:100px;
}

.stores-grid a:hover{
    transform: scale(1.01);
    border-color:#bdbdbd;
    transition: 200ms;
}

.show-more a{
    color:#ea1d2c;
    justify-content: center;
    border-style:none;
}





  /*
    
    .header-menu{
        display:none;
    }


    .app-menu-caption{
        font-size:16px;
    }


    .promotion p{
        text-wrap: balance;
    }

    .promo-slider-pics{
        min-width:800px;
        overflow: hidden;
    }


    .past-orders a, .markets-next a, .cheap-good a, .most-ordered a, .categories-menu-selection a, .stores-grid-menu a{
        font-size:10px;
    }


    .past-orders a, .markets-next a, .cheap-good a, .most-ordered a, .categories-menu-selection a, .stores-grid-menu a{
        font-size:10px;
    }

    .past-orders img, .markets-next img, .cheap-good img, .most-ordered img, .categories-menu-selection img, .stores-grid-menu img{
        margin:10px;
        padding:5px;
    }

    .past-orders p, .markets-next p, .cheap-good p, .most-ordered p, .categories-menu-selection p, .stores-grid-menu p{
        min-width:fit-content;
        margin:0 20px;
    }

    
    .past-orders a {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: fit-content;
        height: fit-content;
        padding:5px;
        margin:5px;
        border-style: solid;
        border-width: 0.5px;
        border-color: #f0f0f0;
        border-radius: 12px;
        text-decoration: none;
        color: #717171;
        font-weight: 400;
    }

    .markets-next a {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: fit-content;
        height: fit-content;
        padding: 5px;
        margin:5px;
        border-style: solid;
        border-width: 0.5px;
        border-color: #f0f0f0;
        border-radius: 12px;
        text-decoration: none;
        color: #717171;
        font-weight: 400;
    }


    .cheap-good a {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        min-width: fit-content;
        width: fit-content;
        height: fit-content;
        padding:5px;
        margin:5px;
        border-style: solid;
        border-width: 0.5px;
        border-color: #f0f0f0;
        border-radius: 12px;
        text-decoration: none;
        color: #717171;
        font-weight: 400;
    }


    .most-ordered a {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        min-width: fit-content;
        width: fit-content;
        height: fit-content;
        padding: 5px;
        margin:5px;
        border-style: solid;
        border-width: 0.5px;
        border-color: #f0f0f0;
        border-radius: 12px;
        text-decoration: none;
        color: #717171;
        font-weight: 400;
    }

    .categories-menu-selection a {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: fit-content;
        height: fit-content;
        border-style: solid;
        border-width: 0.5px;
        border-color: #f0f0f0;
        border-radius: 12px;
        text-decoration: none;
        color: #717171;
        font-size: 12px;
    }

    .gourmet-banner img {
        width:fit-content;
    }


    .stores-grid-menu a{
        min-width:fit-content;

    }*/



/* Body */

}